<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Beauty Bar|Mesa AZ</title>
    <meta name="description" content="The design portfolio of Danielle Doty">
    <meta name="keywords" content="anna marzano, anna, specials, services, about, beauty, salon, bar, my beauty bar, beauty bar, hair, skin, wax, lashes, permanent makeup, makeup, lash extensions, extentions, color, haircut, esthetician, Aesthetics, facial, waxing, microblading, unique, fun, affordable, small business, blog">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="/assets/js/javascript.js"></script>
</head>

<body>
    <div id="homePage">
        <div id="navBar">
            <img src="" alt="logo">
            <a href="/views/index.html">HOME</a>
            <a href="/views/about.html">ABOUT</a>
            <a href="/views/services.html">SERVICES</a>
            <a href="/views/book-now.html">BOOK NOW</a>
            <a href="/views/gallery.html">GALLERY</a>
            <a href="/views/new-guests.html">NEW GUESTS</a>
            <a href="/views/specials.html">SPECIALS</a>
            <a href="/views/blog.html">BLOG</a>
            <a href="/views/contact.html">CONTACT</a>
        </div>
        <h1>WELCOME</h1>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h4>Let's stay connected</h4>
            <p>subscribe now for a </p><br>
            <p><b>free gift</b></p><br>
            <p>+</p><br>
            <p>specials offers + style tips + updates on the latest hair trends.</p>
            <form>
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="user_name">
                </div>
                <div>
                    <label for="mail">E-mail:</label>
                    <input type="email" id="mail" name="user_mail">
                </div>
                <div class="button" id="myBtn">
                    <button type="submit">Subscribe</button>
                </div>
            </form>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

</body>

</html>