<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Beauty Bar|Services</title>
    <meta name="description" content="The design portfolio of Danielle Doty">
  <meta name="keywords" content="anna marzano, anna, specials, services, about, beauty, salon, bar, my beauty bar, beauty bar, hair, skin, wax, lashes, permanent makeup, makeup, lash extensions, extentions, color, haircut, esthetician, Aesthetics, facial, waxing, microblading, unique, fun, affordable, small business, blog">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="/assets/js/javascript.js"></script>
</head>

<body>
        <div id="servicesPage">
    <div id="navBar">
        <img src="" alt="logo">
        <a href="/views/index.html">HOME</a>
        <a href="/views/about.html">ABOUT</a>
        <a href="/views/services.html">SERVICES</a>
        <a href="/views/book-now.html">BOOK NOW</a>
        <a href="/views/gallery.html">GALLERY</a>
        <a href="/views/new-guests.html">NEW GUESTS</a>
        <a href="/views/specials.html">SPECIALS</a>
        <a href="/views/blog.html">BLOG</a>
        <a href="/views/contact.html">CONTACT</a>
    </div>
    
    </div>
    <div id="footer">
        <form>
            <div>
              <input type="search" id="mySearch" name="q">
              <button>SEARCH</button>
            </div>
          </form>&copy;2018 MY BEAUTY BAR | MESA, AZ | email address 
        | GET SOCIAL: <a href="#"><img src="" alt="instagram"></a>
                      <a href="#"><img src="" alt="facebook"></a>
                      <a href="#"><img src="" alt="pinterest"></a>
                      <a href="#"><img src="" alt="snapchat"></a>
        | WEB DESIGN BY <a target="_blank" href="#" rel="nofollow"></a><img src="" alt="ddoty logo"></a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</body>
</html>